html {
    font-family: "Helvetica Neue";
    background-color: #FFFF99;
}

body {
    background-color: transparent;
}

img {
    display: block;
    margin: auto;
    width: 160px;
}

/*IDs*/
#Sign-In {
    width:300px;
    border-radius:15px;
}

#google-button {
    width: 120px;
    margin: 0 auto;
}

/*Classes*/
.navbar-default .navbar-nav>li>a {
    color: #696969;
}

.navbar-custom {
    background-color: #FFFFE6;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    margin: auto;
    padding: 10px;
}

.white {
    background-color: white;
}
